# vars
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat
$DirCreateMode 0755
$FileCreateMode 0640
$FileGroup adm
$FileOwner root
$ModLoad imklog   # provides kernel logging support (previously done by rklogd)
$ModLoad imuxsock # provides support for local system logging

$InputUnixListenSocketHostName   /var/run/snet_log.sock
$AddUnixListenSocket             /var/run/snet_log.sock

$template SnetCustom,"<%PRI%>%TIMESTAMP% %HOSTNAME% %syslogtag%SNETLNXDEB %msg%"
$Umask 0022
$WorkDirectory /var/spool/rsyslog
 
*.*;auth,authpriv.none    -/var/log/syslog
auth,authpriv.*            /var/log/auth.log
 
{% if syslog_receiver is defined %}
{% for server in syslog_receiver %}
auth,authpriv.*;daemon.*;*.debug;user.*;*.=warn;*.=info  @{{ server }};SnetCustom
{% endfor %}
{% else %}
auth,authpriv.*;daemon.*;*.debug;user.*;*.=warn;*.=info  @syslog.ec.local;SnetCustom
{% endif %}
 
kern.*        -/var/log/kern.log
lpr.*         -/var/log/lpr.log
mail.*        -/var/log/mail.log
mail.err       /var/log/mail.err
mail.info     -/var/log/mail.info
mail.warn     -/var/log/mail.warn
news.crit      /var/log/news/news.crit
news.err       /var/log/news/news.err
news.notice   -/var/log/news/news.notice
user.*        -/var/log/user.log
 
*.=debug;\
  auth,authpriv.none;\
  news.none;mail.none  -/var/log/debug
 
*.=info;*.=notice;*.=warn;\
  auth,authpriv.none;\
  cron,daemon.none;\
  mail,news.none    -/var/log/messages
 
*.emerg       :omusrmsg:*
 
$IncludeConfig /etc/rsyslog.d/*.conf
