{
    "debug" : false,
    "ipv6": false,
    "default-address-pools":
    [
    {"base":"192.168.2.1/24","size": 27}
    ],
    "log-driver": "syslog",
    "log-opts": {
        "syslog-address": "unixgram:///var/run/snet_log.sock",
        "syslog-format": "rfc5424",
        {% raw %}
        "tag": "{{ .Name }}"
        {% endraw %}
    }
}
