#!/bin/bash
{{ ansible_managed | comment }}

export PATH=/usr/sbin:/usr/bin:/sbin:/bin

date=$(date)
# load=$(cat /proc/loadavg | awk '{print $1}')
root_usage=$(df -h / | awk '/\// {print $(NF-1)}' | sed 's/%//' )
var_usage=$(df -h /var | awk '/\// {print $(NF-1)}' | sed 's/%//' )
users=$(users | wc -w)
UptimeString=$(uptime | tr -d ',')
processes=$(ps aux | wc -l)
ip=$(hostname -I | awk '{print $1}')

critical_load=$(( 1 + $(grep -c processor /proc/cpuinfo) / 2 ))

# get uptime, logged in users and load in one take
time=$(awk -F" " '{print $3" "$4}' <<<"${UptimeString}")
load="$(awk -F"average: " '{print $2}'<<<"${UptimeString}")"
users="$(awk -F" user" '{print $1}'<<<"${UptimeString}")"

# memory and swap
mem_info=$(LC_ALL=C free -w 2>/dev/null | grep "^Mem" || LC_ALL=C free | grep "^Mem")
memory_usage=$(awk '{printf("%.0f",(($2-($4+$6+$7))/$2) * 100)}' <<<${mem_info})
memory_total=$(awk '{printf("%d",$2/1024)}' <<<${mem_info})
swap_info=$(LC_ALL=C free -m | grep "^Swap")
swap_usage=$( (awk '/Swap/ { printf("%3.0f", $3/$2*100) }' <<<${swap_info} 2>/dev/null || echo 0) | tr -c -d '[:digit:]')
swap_total=$(awk '{print $(2)}' <<<${swap_info})

# Systemctl
systemctl_status=$(systemctl list-units --all --state failed | grep -v 'To show all installed unit files use ' | sed 's/loaded units listed\.//')

# check the apt reboot needed
apt_reboot=$(ls -ail /var/run/reboot-required 2>&1 | grep -v 'cannot access'  | wc -l)
rfc_running=$(ls -ail /var/run/rfc-in-progress 2>&1 | grep -v 'cannot access'  | wc -l)

# don't edit below here

function display() {
        # $1=name $2=value $3=red_limit $4=minimal_show_limit $5=unit $6=after $7=acs/desc
        local great=">"
        if [[ -n "$2" && "$2" > "0" && (( "${2%.*}" -ge "$4" )) ]]; then
            printf "%-14s%s" "$1:"
            if awk "BEGIN{exit ! ($2 $great $3)}"; then
                echo -ne "\e[0;91m $2"
            else
                echo -ne "\e[0;92m $2"
            fi
            printf "%-1s%s\x1B[0m" "$5"
            printf "%-11s%s\t" "$6"
            return 1
        fi
} # display

echo "System information as of: $date"

# display info
echo ""
printf "%-14s %s\n" "IP Address:" ${ip}
# display "IP Address" "${ip}"
# echo ""
display "System load" "${load%% *}" "${critical_load}" "0" "" "${load#* }"
printf "Up time:       \x1B[92m%s\x1B[0m\t\t" "$time"
echo "" # fixed newline
display "Memory usage" "$memory_usage" "70" "0" " %" " of ${memory_total}MB"
display "Swap usage" "$swap_usage" "10" "0" " %" " of $swap_total""Mb"
echo "" # fixed newline
display "Local users" "${users##* }" "3" "2" ""
display "Processes" "${processes}" "1000" "1" ""
echo "" # fixed newline
display "Usage On /" "${root_usage}" "60" "0" "%"
display "Usage On /var" "${var_usage}" "60" "0" "%"
echo ""
display "Reboot needed" "${apt_reboot}" "0" "1"
echo ""
if [ "x${systemctl_status}" == "x0" -o "x${systemctl_status}" == "x0 " ]; then
display "Fail systemd" "${systemctl_status}" "1" "0" ""
else
printf "%-14s %s\n" "Fail systemd:" "${systemctl_status}"
fi
echo ""
display "RFC in progress, reboot might append..." "${rfc_running}" "0" "1"
echo ""
