{{ ansible_managed | comment }}

KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd yes
Banner /etc/issue
AcceptEnv LANG LC_*
Subsystem       sftp    /usr/lib/openssh/sftp-server

