{{ ansible_managed | comment }}

Host *

{% if Cloud == 'vmware' %}
    Protocol 2
# support Cisco default and only ciphers
    Ciphers +aes256-cbc
    Ciphers +aes128-cbc
    Ciphers +3des-cbc
    Ciphers +aes192-cbc
# support Cisco 4500
    KexAlgorithms +diffie-hellman-group1-sha1
{% endif %}

    SendEnv LANG LC_*
    HashKnownHosts no
    GSSAPIAuthentication yes
{% if Cloud == 'vmware' %}
    GSSAPIDelegateCredentials no
{% endif %}